$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.container {
    width: 100%;
    min-width: 940px;
}

.header {
    padding-bottom: 20px;
}

.calendar {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.week {
}

.day {
    width: 20%;
    position: relative;

    .day_num {
        position: absolute;
        font-size: 2em;
        font-weight: bold;
        top: 0px;
        right: 10px;
    }

    .day_info {
        position: absolute;
        overflow: hidden;
        bottom: 10px;
        left: 10px;

        .meetings_number {
            color: #6B8E23;
            font-size: 1.5em;
            font-weight: 500;
        }

        .meetings_word {
            color: #888;
            font-weight: 300;
        }
    }
}

th {
    text-align: center;
    color: #fff;
    background-color: #428bca;
}

.popover {
    width: 250px;
    height: 250px;
    font-weight: bold;

    .popover-title {
        font-weight: bold;
    }

    .btn {
        position: absolute;
        bottom: 15px;
    }
}

.popover.top, .popover.bottom {
    border-color: #000;
    .arrow:after {
        border-bottom-color: #000;
        border-top-color: #000;
    }
}